<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facilita Simples</title>

    <!-- styles -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <center>
    <%- body %>
  
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery.js"></script>
    <script src="/js/main.js"></script>
    <div id="info">Obs: a medida que os números primos se tornam mais distantes um do outro, a contagem pode demorar.</div>
    </center>
  </body>
</html>